<form class="container">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="post.title">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" rows="20" id="body" ng-model="post.body"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="createPost()">Post</button>
    <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>