<form class="container">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="post.title">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input type="text" class="form-control" id="body" placeholder="Body" ng-model="post.body">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="updatePost()">Update</button>
    <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
</form>