<div class="container">
    <div class="page-header">
        <div id="header-content">
            <h2 class="inline">Everyday Moments by Carla</h2>
            <form class="navbar-form navbar-right ">
                <div class="form-group">
                    <input id="Search" type="text" class="form-control" placeholder="Search by title" ng-model="search">
                </div>
            </form>
        </div>
    </div>

    <div class="btn-group-horizontal">
        <button type="button" class="btn btn-default" ng-click="mainView()">Home</button>
        <button type="button" class="btn btn-default" ng-click="createPost()">New Post</button>
    </div>

    <div class="nav-menu"></div>

    <div ng-repeat="post in displayedPosts | filter:{title:search}">
        <div class="container">
            <h3 class="inline">{{post.title}}</h3>
            <button type="button" class="btn btn-default float-right" ng-click="editPost(post._id)">Edit</button>
            <div class="well post-body-list">
                {{post.body}}
            </div>
        </div>
    </div>

    <nav aria-label="...">
        <div class="pager">
            <button id="Previous" type="button" class="btn btn-default" ng-click="paginate(false)">Previous</button>
            <button id="Next" type="button" class="btn btn-default" ng-click="paginate(true)">Next</button>
        </div>
    </nav>
</div>