<div class="header">

    <h2 id="header-content">Every Day Moments by Carla
            
        </h2>

</div>
<div class="bar">

</div>
<div class="container">

    <div class="nav-menu">

    </div>
    <button ng-click="toggleForm()"></button>
    <div class="postCreation" ng-show="showForm">
        <div class="form">
            <input ng-model="post.title" type="text">
            <input ng-model="post.summary" type="text">
            <input ng-model="post.body" type="text">
            <input ng-model="post.imageUrl" type="text">
        </div>
    </div>

</div>