<div class="container">
    <div class="page-header">
        <h2 id="header-content">Everyday Moments by Carla</h2>
    </div>


    <div class="btn-group-horizontal">
        <button type="button" class="btn btn-default" ng-click="listView()">List View</button>
        <button type="button" class="btn btn-default" ng-click="createPost()">New Post</button>
    </div>

    <div class="nav-menu"></div>

    <div class="container">
        <h3 class="inline">{{post.title}}</h3>
        <button type="button" class="btn btn-default float-right" ng-click="editPost(post._id)">Edit</button>
        <div class="well">
            {{post.body}}
        </div>
    </div>
</div>